body{
    background-color: #2a65bd;
}
h1{
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}
h2{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
}
#map{
    height: 400px;
}
#Quality{
    margin-bottom: 10%;
}
#Quantity{
    margin-bottom: 10%;
}
#Bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
#BgVid{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#SubmitButton {
	background-color:#4584c7;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:4px solid #1971ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283266;
    
}
#SubmitButton:hover {
	background-color:#2a65bd;
}
#SubmitButton:active {
	position:relative;
	top:1px;
}


.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 26px;
    left: 32%;
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 400%;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}